# Lab 01

# Python Basic 01

# 1.Variable(변수)

변수는 데이터를 저장할 수 있는 기억 공간입니다.선언된 변수에 값(데이터)을 할당(대입)할 수 있고, 변수의 값은 재할당을 통해 변경할 수 있습니다.<br>
파이썬에서는 '='기호를 이용하여 값을 할당합니다.<br><br>
변수명에는 몇가지 **규칙**이 존재합니다.<br>
1. 영문자(대, 소문자 구분), 숫자, 언더바(_)를 사용할 수 있다.
2. 첫 자리에는 숫자를 사용할 수 없다.
3. 파이썬 키워드는 변수 명으로 사용할 수 없다.

**<변수 선언 및 할당 규칙>**
## 변수명 = 값

In [16]:
myNumber = 1234 
print(myNumber)

# 'myNumber'라는 변수에 숫자 1234라는 값을 할당한 것.
# 출력문 print(변수명) 을 이용하여 변수에 할당된 값을 확인.

1234

In [17]:
myNumber = 5678
print(myNumber)

#값이 할당된 변수에 새로운 값을 할당할 수 있다.

5678

변수를 사용하는 이유는 **코드를 경제적으로 사용하기 위해서**입니다.<br>
반복적인 값을 사용할때, 매순간 입력하는 것보다 값을 할당한 변수를 사용한다면 훨씬 경제적인 코드가 된답니다.<br>
또한, 변수에 할당된 값의 의미를 쉽게 이해할 수 있도록 변수명을 지정해 준다면 코드의 가독성을 높일 수 있습니다.

### No Value
값이 없는 경우를 None이라는 형태로 할당할 수 있습니다.

In [79]:
a = None
print(a)

None

## 주석

주석(comment)은 파이썬 인터프리터가 처리하지 않는 부분으로 코드에 대한 설명을 작성하거나, 특정 코드를 임시로 사용하지 않도록 만들때 사용합니다. 주석은 한 줄 주석과 블록 주석 두 가지가 있습니다

In [2]:
# 안녕하세요! 출력
print('안녕하세요!')

Hello, world!

 코드 맨 앞에 #을 사용하면 해당 줄은 모두 주석 처리가 됩니다.

In [3]:
# a = 20
# b = 3

print(a + b)

NameError: name 'a' is not defined

코드 뒤에 #으로 주석을 작성할 수 있습니다. 이때는 앞에 있는 코드만 정상적으로 동작하며 # 뒤에 있는 코드는 실행되지 않습니다.

In [4]:
a = '반가워요!' # 문자열 
print(a)

반가워요!

## 실습
'Hello, World!'를 출력해보세요.

# 2.자료형(Data Type)

저장된 데이터의 타입을 의미합니다. 즉, 데이터가 숫자인지, 문자열인지와 같은 형태가 바로 자료형입니다.<br>

## 01) 숫자형 (Numeric)

우리가 흔히 숫자 연산에 사용하는 숫자들로 이루어진 자료형입니다.<br>
정수나 실수 등을 다룰 수 있으며, 숫자 연산이 가능합니다.

In [6]:
temp01 = 10
temp02 = 5

temp03 = 2.5
temp04 = 1.0

result = temp01 + temp02

print(result)
print(temp01 - temp02)
print(temp03 + temp04)

15
5
3.5

In [42]:
type(temp04)

float

## 01-1) 산술 연산자

사칙연산

In [17]:
a = 1 + 2
b = 9 - 4
c = 10 / 3
d = 5 * 8

print(a)
print(b)
print(c)
print(d)

3
5
3.3333333333333335
40

x의 y제곱을 나타내는 ** 연산자

In [12]:
x = 4
print(x**2)

16

나눗셈 후 나머지를 반환하는 % 연산자

In [14]:
print(10%4)

2

나눗셈 후 몫을 반환하는 // 연산자

In [18]:
print(10//3)

3

## 02) 문자열 (String)

문자나 문자들을 늘어놓은 자료형입니다. 문자열은 큰따옴표(" ") 혹은, 작은따옴표(' ')로 구분합니다.<br>
숫자 연산처럼 문자열도 덧셈 연산기호(+)를 이용하여 두 문자열을 하나로 합할수 있습니다.

In [7]:
firstName = '길동'
lastName = '홍'
myName = lastName + firstName

print(lastName + firstName)
print(myName)

홍길동
홍길동

In [8]:
type(firstName)

str

*배열(array)로 인식하는 문자열.

In [9]:
myName[0]

'홍'

### Quiz

var01 = 123<br>
var02 = '123'<br>

두 변수(var01과 var02)의 차이점은 무엇일까요?

In [ ]:
var01 = 123
var02 ='123'

print(type(var01))
print(type(var02))

In [10]:
# 문자열 중간에 문자열은 큰따옴표(" ") 혹은, 작은따옴표(' ')를 사용하고 싶은경우

print("안녕하세요, 저의 이름은 '홍길동'입니다.")
print("안녕하세요, 저의 이름은 \"홍길동\"입니다.")
print("Hi, I'm Hong Gil-Dong.")

안녕하세요, 저의 이름은 '홍길동'입니다.
안녕하세요, 저의 이름은 "홍길동"입니다.
Hi, I'm Hong Gil-Dong.

In [11]:
# \n을 이용하여 줄바꿈 하기

multiline = 'I\'m fine, thank you.\nAnd you?'
print(multiline)

I'm fine, thank you.
And you?

## 02-1) 문자열 포매팅
문자열 안에 어떤 값을 삽입하는 방법입니다.

<table border='1'>
    <tr>
        <td>코드</td>
        <td>설명</td>
    </tr>
    <tr>
        <td>%s</td>
        <td>문자열(String)</td>
    </tr>
    <tr>
        <td>%c</td>
        <td>문자 1개(character)</td>
    </tr>
    <tr>
        <td>%d</td>
        <td>정수(Integer)</td>
    </tr>
    <tr>
        <td>%f</td>
        <td>부동소수(floating-point)</td>
    </tr>
    <tr>
        <td>%o</td>
        <td>8진수</td>
    </tr>
    <tr>
        <td>%x</td>
        <td>16진수</td>
    </tr>
</table>

In [19]:
# 숫자 바로 대입하기

"I eat %d apples." % 3

'I eat 3 apples.'

In [26]:
# 소수점 표현하기
# 주어진 예시는 소수점 4자리 표시

"%0.4f" % 3.42134234

'3.4213'

In [21]:
#문자열 바로 대입하기

I eat %s apples." % "five"

'I eat five apples.'

In [23]:
# 변수를 사용하여 숫자, 문자 바로 대입하기

number = 10
day = "three"

"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## format 함수를 사용한 포매팅

문자열의 format 함수를 사용하면 좀 더 발전된 스타일로 문자열 포맷을 지정할 수 있습니다.

In [27]:
# 숫자 바로 대입하기

"I eat {0} apples".format(3)

'I eat 3 apples'

In [47]:
# 소수점 표현하기
# 주어진 예시는 소수점 4자리 표시

format(3.42134234, '.4f')

'3.4213'

In [ ]:
#문자열 바로 대입하기

"I eat {0} apples".format("five")

In [28]:
# 변수를 사용하여 숫자, 문자 바로 대입하기

number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [30]:
# 이름으로 넣기

"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

## 02-2) 문자열 함수
파이썬은 문자열에 다양한 함수를 지원하고 있습니다. 어떤 것들이 있는지 대표적인 함수 몇개만 알아보록 하겠습니다.

### string.count()
문자열 내에서 해당 문자의 개수를 세는 함수입니다.

In [49]:
a = "banana"
a.count('a')

3

### string.split()
특정 문자를 기준으로 문자열을 나누는 함수입니다. 결과는 리스트로 반환됩니다.

In [10]:
temp = '강아지,고양이,코끼리,사자'
temp = temp.split(',')

print(temp)
print(temp[2])

['강아지', '고양이', '코끼리', '사자']
코끼리

### string.strip()

문자열이 가진 앞쪽, 뒤쪽의 공백 및 엔터키를 제거하는 함수입니다.

In [5]:
tempstr = '   공백을 제거해 봅시다.   '
tempstr.strip()

'공백을 제거해 봅시다.'

### string.find()

문자열에서 특정 단어를 찾아 위치를 리턴하는 함수입니다.

In [8]:
tempstr = '나의 라임 오렌지 나무'
tempstr.find('오렌지')

6

### string.replace()

문자열에서 특정 단어를 다른 단어로 교체하는 함수입니다.

In [9]:
tempstr = '나의 라임 오렌지 나무'
tempstr.replace('오렌지','매실')

'나의 라임 매실 나무'

## 실습

주어진 문자열 내의 공백을 모두 제거하세요

In [11]:
pracStr = '시간은 인간이 쓸 수 있는 가장 값진 것이다.'
pracStr.replace(' ','')

'시간은인간이쓸수있는가장값진것이다.'

## 03) 불린 (Boolean)

참(True)과 거짓(False)을 말합니다. 비교나 논리연산자의 결과값입니다.

In [18]:
temp = 1 > 10
print(temp)

False

## 04) 리스트(List)
리스트는 말 그대로 목록이라는 뜻이며 값을 일렬로 늘어놓은 형태입니다.<br><br>
#### <리스트 만드는 규칙>
### 리스트명 = [요소1, 요소2, 요소3, ...]

In [52]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [51]:
# 리스트 내에 여러 자료형 저장하기

person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

### 리스트의 인덱싱
리스트 역시 문자열처럼 인덱싱을 적용할 수 있습니다.

In [53]:
a[3]

62

### 중첩 리스트
리스트 내부에 리스트를 넣을 수 있습니다.

In [56]:
templist = ['이름', 25, '주소',['청포도', '딸기', '홍차']]
templist[3]

['청포도', '딸기', '홍차']

## 04-1) 리스트 함수

### len()
리스트 길이를 구하기 위해서는 다음처럼 len 함수를 사용할 수 있습니다.

In [93]:
len(templist)

5

### list.append()
리스트에 값을 추가하는 함수입니다.

In [60]:
temp = [] # 빈 리스트를 생성
temp.append('1')
temp.append('Hello')

temp

['1', 'Hello']

### list.count()
리스트 내부의 특정 값이 몇개가 존재하는지 개수를 알려주는 함수입니다.

In [95]:
templist = ['가','나','다','가','라','가']
templist.count('가')

3

### list.index()
리스트 내부의 특정 값이 몇번째 요소인지를 알려주는 함수입니다.

In [96]:
templist.index('다')

2

### list.insert()
리스트 내부에서 특정한 위치에 특정한 값을 삽입하는 함수입니다.

In [97]:
templist.insert(2,'마')
templist

['가', '나', '마', '다', '가', '라', '가']

### list.remove()
remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수입니다.

In [98]:
templist.remove('가')
templist

['나', '마', '다', '가', '라', '가']

### list.pop()
리스트 내부 값을 추출하는 함수입니다. (오른쪽부터 추출)

In [99]:
templist.pop()

'가'

In [100]:
# 리스트 내의 특정한 위치에 있는 값을 추출할 수도 있음

templist.pop(2)

'다'

## 04-2) 리스트의 슬라이싱
문자열과 마찬가지로 리스트에서도 슬라이싱 기법을 적용할 수 있습니다.

In [90]:
a = [1, 2, 3, 4, 5]
a[1:2]

[2]

In [92]:
b = [3, 'jenny', 20, 'tom']
b[:2]

[3, 'jenny']

## 05) 튜플 (Tuple)
튜플은 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제를 할 수 없습니다. 간단하게 읽기 전용 리스트라고 할 수 있습니다. <br>
변수에 값을 저장할 때 ( )(괄호)로 묶어주면 튜플이 되며 각 값은 ,(콤마)로 구분해줍니다. 또는, 괄호로 묶지 않고 값만 콤마로 구분해도 튜플이 됩니다.<br>
#### <튜플 만드는 규칙>
### 튜플명 =  (값1, 값2, 값3 ...)
### 튜플명 = 값1, 값2, 값3 ...

In [88]:
t1 = (1, 2, 3)
t2 = 1, 2, 3

print(t1)
print(t2)

(1, 2, 3)
(1, 2, 3)

#### * 리스트와 튜플의 다른점
1.리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다. <br>
2.리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

## 06) 딕셔너리(Dictionary)
사람은 누구든지 "이름" = "홍길동", "생일" = "몇 월 몇 일" 등으로 구별할 수 있다. 파이썬은 영리하게도 이러한 대응 관계를 나타낼 수 있는 자료형을 가지고 있습니다. 파이썬에서는 이러한 자료형을 딕셔너리(Dictionary)라고 하는데, 사전과 같이 Key와 Value를 한 쌍으로 갖는 자료형입니다.
#### <딕셔너리의 모양>
### dict = {Key1:Value1, Key2:Value2, Key3:Value3, ...}

In [116]:
person = {} # 빈 딕셔너리를 선언
person['이름'] = '홍길동' # 딕셔너리 쌍 추가
person['나이'] = 31
person['신장'] = 173
person['몸무게'] = 77

person

{'나이': 31, '몸무게': 77, '신장': 173, '이름': '홍길동'}

In [103]:
person['신장']

173

In [106]:
# 딕셔너리 요소 삭제하기

del person['몸무게']
person

{'나이': 31, '신장': 173, '이름': '홍길동'}

#### * 딕셔너리 만들 때 주의할 사항
딕셔너리에서 Key는 고유한 값이므로, 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시됩니다.

## 06-1) 딕셔너리 함수
### dict.keys()
딕셔너리의 Key만을 모아서 dict_keys 객체를 돌려주는 함수입니다.

In [107]:
person.keys()

dict_keys(['이름', '나이', '신장'])

#### * dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

In [108]:
list(person.keys())

['이름', '나이', '신장']

### dict.values()
딕셔너리의 value만을 모아서 dict_values 객체를 돌려주는 함수입니다.

In [109]:
person.values()

dict_values(['홍길동', 31, 173])

#### * dict_values 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

In [110]:
list(person.values())

['홍길동', 31, 173]

### dict.items()
딕셔너리의 쌍을 모아서 dict_items 객체를 돌려주는 함수입니다.

In [111]:
person.items()

dict_items([('이름', '홍길동'), ('나이', 31), ('신장', 173)])

### dict.get()
딕셔너리 내의 해당 키를 갖는 value를 반환하는 함수입니다.

In [112]:
person.get('나이')

31

###  key in dict
해당 Key가 딕셔너리 안에 있는지 조사하는 함수입니다.

In [117]:
'이름' in person

True

### dict.clear()
딕셔너리의 쌍을 모두 지우는 함수입니다.

In [118]:
person.clear()
person

{}

# 자료형의 변환
자료형끼리 서로 변환할 수 있습니다. (단, 모든 변환이 가능한 것은 아닙니다.) <br>
int(), str(), float(), bool(), list()

### 변수 = int(값)
값의 형태를 정수로 변환하고 변수에 저장

In [119]:
temp = '123'
type(temp)

str

In [121]:
temp = int(temp)
type(temp)

int

# 실습